@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html body {
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

*::selection {
  @apply bg-dark text-white dark:bg-light dark:text-dark;
}

img::selection {
  @apply bg-transparent;
}

.btnResume {
  @apply flex items-center bg-dark dark:bg-light dark:text-dark text-light dark:hover:bg-dark dark:hover:text-light dark:hover:border-light p-2.5 px-6 rounded-lg text-lg font-bold hover:bg-light hover:text-dark cursor-pointer border border-solid border-transparent hover:border-dark transition-all duration-300 ease-in-out md:p-2 md:px-4 md:text-base;
}

.btnContact {
  @apply text-lg font-semibold capitalize text-dark dark:text-light dark:hover:text-light/75 underline hover:text-dark/75 duration-300 transition-all ease-out md:text-base;
}

.section-title {
  @apply font-[900] text-8xl mt-40 w-full text-center mb-16 lg:!text-7xl sm:!text-6xl xs:!text-4xl sm:mb-8 dark:text-light;
}

.nav {
  @apply w-full top-0 z-[100] px-32 lg:px-16 md:px-12 sm:px-8  py-7 lg:py-9 font-medium flex items-center justify-between  backdrop-blur-[9px] dark:text-light sticky;
}

.mobile-nav {
  @apply min-w-[70vw] z-[2000] flex flex-col justify-center items-center fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2  bg-dark/90 dark:bg-light/75 rounded-lg backdrop-blur-[9px] py-32;
}

.sidebar {
  @apply flex flex-col items-start;
}

.sidebar_content > ul > li {
  @apply flex items-center py-6 transition-all duration-500 ease-in-out border-b border-opacity-70  cursor-pointer border-primary hover:border-opacity-100 text-dark dark:text-light font-[700];
}

.sidebar_content > ul > li > span {
  @apply transition-all duration-500 ease-in-out;
}

.snippet {
  @apply relative flex flex-col w-full px-3 py-3 mb-5 transition-all duration-700 ease-in-out border border-dark dark:border-primaryDark rounded-md cursor-pointer border-opacity-20 hover:border-opacity-100 hover:shadow-md hover:bg-opacity-20 hover:bg-primaryGray dark:hover:bg-primary dark:hover:bg-opacity-20;
}
.snippet h2 {
  @apply font-[700] text-xl mb-4 dark:text-light text-dark;
}
.snippet p {
  @apply text-[15px] text-dark dark:text-gray-400 text-opacity-70 italic;
}

.icons {
  @apply p-3 transition-all duration-700 ease-in-out bg-transparent border rounded-full cursor-pointer border-primary hover:bg-primaryDark;
}
.icons svg {
  @apply w-5 h-5;
}

.category {
  @apply w-auto px-4 py-2 text-sm font-semibold text-center text-light rounded-full cursor-pointer bg-primary hover:bg-primaryDark md:text-xs;
}
.category::selection {
  @apply text-light;
}

.inputBox {
  @apply w-full py-3 bg-transparent border-b outline-none border-primaryGray focus:border-primary hover:border-primary placeholder:text-gray-500 placeholder:opacity-40 mb-7 text-dark dark:text-light transition-all duration-300 ease-in-out;
}
